html {
  font-family: 'Arial';
  background: url('https://subtlepatterns.com/patterns/purty_wood.png');
}

a {
  color: #c20;
  text-decoration: underline;
}

.centered {
  margin: 0 auto;
}

.finer-print {
  font-size: 15px;
}

.span2 {
  width: 40%;
  padding: 0;
  float: left;
}

.business-card {
  position: relative;
  background: #eeeeec;
  color: #2e3436;
  width: 400px;
  height: 240px;
  font-size: 20px;
  border-bottom: 2px solid #d3d7df;
  border-radius: 15px;
  box-shadow: 0 0 10px 1px #000;
  margin-top: 5%;
}

.business-card .title {
  background: #c00;
  color: #fff;
  height: 30px;
  padding: 10px;
  font-weight: bold;
  font-size: 25px;
  border-top: 2px solid #ef2929;
  border-left: 2px solid #ef2929;
  border-radius: 14px 14px 0 0;
}

.business-card .content {
  font-weight: bold;
  padding: 15px;
}

.business-card .avatar {
  float: right;
  max-width: 100px;
  max-height: 100px;
  box-shadow: 0 0 10px 1px #777;
  border-radius: 3px;
}

.business-card .footer {
  position: absolute;
  bottom: 10px;
  left: 2%;
  font-size: 15px;
  padding-top: 5px;
  border-top: 1px solid;
  width: 96%;
}